@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.poppins-regular-font {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* common style */
.con-all {
  max-width: 1140px;
  margin: auto;
}
.btn-inf {
  background: #e02c6d;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 700;
}
/* nav bar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 22px;
}
.home-div {
  display: flex;
  align-items: center;
}
.home-div h1 {
  font-size: 1.5rem;
  font-weight: 700;
}
.home-div ul {
  display: flex;
  justify-content: space-between;
}
.home-div ul li {
  list-style: none;
}
.home-div li a {
  text-decoration: none;
  margin-right: 24px;
  color: #3a3a3a;
}
.icon-con {
  display: flex;
  align-items: center;
  padding-top: 7px;
}
.icon-con i {
  margin-right: 22px;
}

/* banner */
.banner {
  margin-top: 42px;
  margin-bottom: 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner h2 {
  font-weight: 700;
  font-size: 3.2rem;
  padding-bottom: 12px;
}
.banner p {
  color: #3a3a3a;
  padding-bottom: 8px;
}
.banner button {
  border-radius: 41px;
  padding: 7px 7px;
  border: none;
}
.camera-img {
  position: relative;
}
.camera-img .circle {
  width: 485px;
  height: 485px;
}
.camera-img .camera {
  position: absolute;
  width: 425px;
  height: 425px;
  padding-top: 65px;
  padding-left: 27px;
}
/* brand name */

.brand-icon-con {
  max-width: 1110px;
  margin: auto;
  margin-top: 69px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  /* gap: 72px; */
}

/* responsive media query */
/* responsive media query */

@media screen and (max-width: 576px) {
  .navbar,
  .home-div {
    flex-direction: column;
  }
  .icon-con {
    padding-top: 8px;
  }
  .banner {
    flex-direction: column-reverse;
    text-align: center;
  }
  .banner p {
    padding: 5px;
    padding-bottom: 9px;
  }
  .banner div img {
    width: 202px;
    height: 190px;
  }
  .brand-icon-con {
    display: flex;
    justify-content: space-evenly;
  }
  .brand-icon-con {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .brand-icon-con img {
    place-items: center;
  }
}
